.grid-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.rating-card{
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 28px;
    overflow: hidden;
    transition: 0.3s;
}

.rating-card:hover{
    transform: translateY(-10px);
}

.rating-img{
    width: 100%;
    height: 260px;
    object-fit: cover;
}